#portfolio{
    margin-top: 5rem;
    height: calc(100vh -5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
}

.portfolio__container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
   
}
.portfolio__item
{
/* background: var(--color-light); */
padding: 1.3rem;
border-radius: 2rem;
border: 3px solid transparent;
border-color: var(--color-primary);

transition: var(--transition);
}
.portfolio__item:hover{
    border-color: var(--color-primary);
    background: transparent;
    transform: translateX(-0.5rem);

}
.portfolio__item__image{
    border-radius: 1.5rem;
    overflow: hidden;
   
}
.portfolio__item p{
    margin: 1.2rem 0 2rem;
    text-align: center;
}


.portfolio__item__cta{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
    
}
@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr;
    }
    .portfolio__container>div{
        width: 80%;
        padding: 2rem;
        margin:0 auto;
    }
    
}

@media screen and (max-width:600px) {
    .portfolio__container{
        gap: 1rem;
    }
    .portfolio__container>div{
        width: 100%;
        padding: 2rem 1rem;
    }
    
}